.App {
  text-align: center;
}

.App #constrainer {
  width: 66vw;
  margin: 0 auto;
}

.App #constrainer .container {
  margin: 0 0 2vw 0;
}

.App #constrainer .container img {
  width: 100%;
  max-width: 100%;
}

.App #constrainer .container button {
  margin: 1vw 0;
  padding: 1vw 2vw;
}

.App #constrainer .container .wallet-error {
  padding: 1vw 2vw;
  background: #A6282A;
}

/* iPads (portrait and landscape) */
@media only screen and (min-width : 768px) and (max-width : 1223px) {
  .App #constrainer {
    width: 77vw;
    margin: 0 auto;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (max-width : 767px) {
  .App #constrainer {
    width: 90%;
    margin: 0 auto;
  }

  .App #constrainer .container {
    margin: 0 0 1vw 0;
  }

  .App #constrainer .container button {
    margin: .5vw 0;
    padding: 2vw 3vw;
  }

  .App #constrainer .container .wallet-error {
    padding: 2vw 3vw;
  }
}
